# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4

# This forces the { to the next line
BreakBeforeBraces: Allman

# These stop the "aggressive" one-lining
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
